# Node modules
node_modules/

# Compiled TypeScript files
*.js
*.js.map

# Dependency directories
/dist/
/.webpack/

# Environment variables file
.env

# Editor directories and files
.vscode/
.idea/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency lock files
package-lock.json
yarn.lock
